:root{
    --firstcolor: #304d4e;
    --second-color: #4b7551;
    --third-color: #8a9e52;
    --fourth-color: #f0d699;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "BlackOpsOne-Regular";
    src: url(./font/Black_Ops_One/BlackOpsOne-Regular.ttf);
}

body{
    width: 100%;
    height: 100vh;
    font-family: "BlackOpsOne-Regular";
    
    
}

.photo {
    width: 110px;
    border-radius: 50%;
    border:3px solid #f9f8f8;
    background: linear-gradient(15deg,#3a2220ca ,#ffcaabdc  );
   
}
.container{
    background-image: url(./image/back01.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.nav-header li a{
    line-height: 3;
  
    
}
li{
    font-size: 1.5em;
    list-style: none;
    text-align: center;
}

li a{
    color: #000000;
    text-shadow: 1px 1px 1px #fdfdfd ;
    text-transform: uppercase;
}
.nav-header a{
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #508a45cc;
    background: linear-gradient(15deg,#3a2220ca ,#ffcaabdc);
    transition:  .3s ease-out;
    box-shadow: inset 0 0 0 0 #dc2039ae;
 
}
.nav-header a:hover{
    box-shadow: inset 350px 0 0 0 #dc2039a7 ;
    border: 2px solid rgba(0, 0, 0, 0.847);
    color: #fdfdfd;
    text-shadow: 1px 5px 5px #201a24;
    transform: scale(1.1);
    
}

li a{
    margin: 10px auto;
    text-decoration: none;
}

.nav-header li:nth-child(1) a{
    padding: 10px 50px;
    pointer-events: none;
    cursor: default;
    opacity: 0.7;
    background: #dc2039ae;
}
.nav-header li:nth-child(2) a{
    padding: 10px 60px;
  
}
.nav-header li:nth-child(3) a{
    padding: 10px 50px;
    
}
.number a img{
    height: 70px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    transition: all .3s linear;
}
.number a img:hover{
    filter: drop-shadow(0px 1px 4px white);
}
footer{
    color: white;
    text-shadow: 1px 2px 3px black;
    text-align: center;
    height: 40px;
    background-color: #d7d2cd60;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}
footer p{
    font-size: 15px;
}

@media screen and (max-width: 912px){
    .container{
        background-image:  url(./image/canhao.jpeg);
        background-size: cover;
        height: 100vh;

        
    }
    .photo{
        margin-top: -50px;
        border: 1px solid #372771;
        padding: 1px;
        background: linear-gradient(15deg,#17114d ,#f0d699df);
    }
    .nav-header a{
        padding: 10px 10px;
        border-radius: 10px;
        border: 1px solid #508a45cc;
        background: linear-gradient(15deg,#17114deb ,#f0d699ee);
        transition:  .3s ease-out;
        box-shadow: inset 0 0 0 0px #f9fafc;
        border: none;
     
    }
    .nav-header a:hover{
        padding: 10px 10px;
        border-radius: 10px;
        transition:  .3s ease-out;
        box-shadow: inset 0 0 0 40px #020203b1;
        color: #d7d2cd;
        text-shadow: 1px 2px 1px rgb(184, 135, 70);
        border: none;
    }
    .nav-header a{
        color: white;
        text-shadow: 1px 1px 1px #372771;
        
    }
    .nav-header a img{
        width: 30px;
      
       
      
    }
    .number a img{
        height: 50px;
    }
   
    
    
 

}
